<div class="ib-content-title pTop10">
  Online shopping has never been this simple, fast, and fun!
</div>
<div class="pAll20">
  <p class='cSite lHeight23'>
    <b>Infinite Buyer</b> is the world's first true 'C2B' marketplace where consumers make "Buyer Offers"
    to businesses that result in the absolute Best Deals possible because YOU set the price.
    So, go ahead, make your best realistic offer: <%= link_to 'How do you start?', buyer? ? buyer_users_url : seller_users_url, :class => 'cSite'%>
  </p>
</div>