<div class="ib-content-title">
  FREE Sign Up! No Listing Fees!
</div>
<div class="pAll20">
  <p class='cSite lHeight23'><b>Infinite Buyer</b> is the world's first true 'C2B' marketplace where consumers make serious "Buyer Offers" to sellers,
    indicating their readiness to BUY immediately.  You pay a transaction fee only when you sell. Forget about 'shoppers',
    gain access to "Ready-to-Buy" buyers! <%= link_to 'How do you start?',  buyer? ? buyer_users_url : seller_users_url, :class => 'cSite'%> </p>
</div>