<% if @bids.present? %>
  <li class="buyer text-left-align" style="width:217px">Description</li>
  <li class="buyer text-left-align" style="width:144px">Buyer<br />User ID</li>
  <li class="buyer text-right-align" style="width:85px">Buyer<br />Offer Date</li>
  <li class="buyer text-right-align" style="width:95px">Buyer<br />Offer</li>
  <li class="buyer text-right-align" style="width:93px">Shipping</li>
  <li class="buyer" style="width:50px">Status</li>
  <li class="sort">
    <label>Sort by:</label>
    <%= form_tag accepted_offers_path, :method => :get, :id => 'acc-bids-sort', :remote => true do %>
      <%= select_tag 'sort_key', options_for_select([['Recent activity', 'created_at'],['Description', 'text'],['Buyer User ID', 'username'],['Buyer Offer Date','created_at'],['Buyer Offer','price'],['Shipping','shipping']], :selected => @selected) %>
    <% end %>
  </li>
<% end %>
