<p>
<p>Please check your Categories selection; you can select Product or a Service not both</p>
</p>

<p><%= link_to 'Current Admin offers', current_admin_offers_path %> </p>
<p><%= link_to "Offer's history", history_admin_offers_path %></p>
