  <div id="hWrapperAuto">
    <div id="carouselhAuto">
      <div class="inside">
        <img src="/assets/1.jpg" alt="iPod" />
        <p>iPod Touch 64 GB Black 4th Generation: <span class="price">$200</span></p>
      </div>
      <div class="inside">
        <img src="/assets/2.jpg" alt="Airsoft" />
        <p>Airsoft Guns - Cybergun AK47 AEG 400fps: <span class="price">$100</span></p>
      </div>
      <div class="inside">
        <img src="/assets/3.jpg" alt="picture" />
        <p>Earbuds - Silver skull candy titans earphones: <span class="price">$30</span></p>
      </div>
      <div class="inside">
        <img src="/assets/4.jpg" alt="picture" />
        <p>Video Games - Call of Duty modern warfare 3 xbox 360: <span class="price">$30</span></p>
      </div>
      <div class="inside">
        <img src="/assets/5.jpg" alt="picture" />
        <p>The hobbit by J.R.R. Tolkien Book: <span class="price">$5</span></p>
      </div>
      <div class="inside">
        <img src="/assets/6.jpg" alt="picture" />
        <p>Computer speakers: <span class="price">$10</span></p>
      </div>
      <div class="inside">
        <img src="/assets/7.jpg" alt="picture"/>
        <p>Flat LCD Computer Monitor 21in: <span class="price">$100</span></p>
      </div>
      <div class="inside">
        <img src="/assets/8.jpg" alt="picture" />
        <p>Black Soft iPod Touch Case: <span class="price">$5</span></p>
      </div>
      <div class="inside">
        <img src="/assets/9.jpg" alt="picture" />
        <p>Blue Nike Air Max Shoes: <span class="price">$70</span></p>
      </div>
      <div class="inside">
        <img src="/assets/10.jpg" alt="picture" />
        <p>Blu ray DVD 'Avatar' movie: <span class="price">$10</span></p>
      </div>
      <div class="inside">
        <img src="/assets/11.jpg" alt="picture" />
        <p>Windows 7 Home Premium Software Disc: <span class="price"> $150 </span></p>
      </div>
      <div class="inside">
        <img src="/assets/12.jpg" alt="picture" />
        <p>HP Color Printer: <span class="price">$100</span></p>
      </div>
      <div class="inside">
        <img src="/assets/13.jpg" alt="picture" />
        <p>Digital Codes - Physical Gift Cards 'xbox live 12 month subscription': <span class="price">$50</span></p>
      </div>
      <div class="inside">
        <img src="/assets/14.jpg" alt="picture" />
        <p>iPod Touch 8GB: <span class="price"> $200</span></p>
      </div>
      <div>
        <img src="/assets/15.jpg" alt="picture" />
        <p>LG Smart TV - LED-backlit 1080p (FullHD): <span class="price">$1339</span></p>
      </div>
      <div class="inside">
        <img src="/assets/16.jpg" alt="picture" />
        <p>NFL Men's Hat 'Sideline Draft TW94Z: <span class="price">$3</span></p>
      </div>
      <div class="inside">
        <img src="/assets/17.jpg" alt="picture" />
        <p>RayBan Sunglass RB2132 'New Wayfarer': <span class="price">$73</span></p>
      </div>
      <div class="inside">
        <img src="/assets/18.jpg" alt="picture" />
        <p>Canon PowerShot Digital Camera - ELPH 300HS 12MP CMOS with Full 1080p HD Video: <span class="price">$175</span></p>
      </div>
      <div class="inside">
        <img src="/assets/19.jpg" alt="picture" />
        <p>Logitech MK320 Wireless Desktop Keyboard and mouse set: <span class="price">$30</span></p>
      </div>
      <div class="inside">
        <img src="/assets/20.jpg" alt="picture" />
        <p>Samsung 28cu.ft. - RF4289HARS Large Capacity 4-door French Door: <span class="price">$2792</span></p>
      </div>
      <div class="inside">
        <img src="/assets/21.jpg" alt="picture" />
        <p>Citizen Eco Drive - JY0050 55L Chronograph Titanium Watch: <span class="price">$440</span></p>
      </div>
      <div class="inside">
        <img src="/assets/22.jpg" alt="picture" />
        <p>Honda CBR 1000RR - 2008 White: <span class="price">$8500</span></p>
      </div>
      <div class="inside">
        <img src="/assets/23.jpg" alt="picture" />
        <p>Electric Guitar-Natural String Acoustic-Takamine EG523SC12: <span class="price">$674</span></p>
      </div>
      <div class="inside">
        <img src="/assets/service_icon.png" alt="picture" />
        <p>Computer Repair Service - Geek Squad: unlimited 24/7 tech help: <span class="price">$20</span>per month</p>
      </div>
      <div class="inside">
        <img src="/assets/20.jpg" alt="picture" />
        <p>Samsung 28cu.ft. - RF4289HARS Large Capacity 4-door French Door: <span class="price">$2792</span></p>
      </div>
      <div class="inside">
        <img src="/assets/21.jpg" alt="picture" />
        <p>Citizen Eco Drive - JY0050 55L Chronograph Titanium Watch: <span class="price">$440</span></p>
      </div>
      <div class="inside">
        <img src="/assets/22.jpg" alt="picture" />
        <p>Honda CBR 1000RR - 2008 White: <span class="price">$8500</span></p>
      </div>
      <div class="inside">
        <img src="/assets/14.jpg" alt="picture" />
        <p>iPod Touch 8GB: <span class="price"> $200</span></p>
      </div>
      <div>
        <img src="/assets/15.jpg" alt="picture" />
        <p>LG Smart TV - LED-backlit 1080p (FullHD): <span class="price">$1339</span></p>
      </div>
      <div class="inside">
        <img src="/assets/16.jpg" alt="picture" />
        <p>NFL Men's Hat 'Sideline Draft TW94Z: <span class="price">$3</span></p>
      </div>
      <div class="inside">
        <img src="/assets/service_icon.png" alt="picture" />
        <p>Plumber – Drains cleaning - Rooter Town Plumbers of Denver: <span class="price">$95</span></p>
      </div>
    </div>
  </div>


<!-- JQuery Banner Ends Here -->
<script type="text/javascript">
  $(document).ready(function($) {
    $('#carouselhAuto').jsCarousel({ onthumbnailclick: function(src) { }, autoscroll: true, masked: true, itemstodisplay: 7, orientation: 'h' });
  });
</script>