<h1 style="margin-left:10px;">How to buy a product or service</h1>
<p class="less">Infinite Buyer is very easy to use.</p>
<ol>
  <li>Enter the description of a single item you are interested in buying.</li>
  <li>Enter the price you are willing to pay now for that item</li>
  <li> Click 'Make Offer' button</li>
</ol>
<h1 style="margin-left:10px;">How to register</h1>
<p class="less">Infinite Buyer is very easy to use.</p>
<ol>
  <li>Click the 'Sign In' link in the far upper right corner of the web page</li>
  <li>Click the 'Sign in using Facebook' button</li>
  <li>Click 'Go to App' button</li>
  <li>Enter your email address and username</li>
  <li>Click 'Register'</li>
</ol>