<div class="msg_list">
  <p class="msg_head"> 1. What is a 'Buyer Offer'</p>
  <div class="msg_body"> A Buyer Offer is when a consumer sets the terms and a reasonable price they are willing to pay for an item and presents it to the market of sellers. The Buyer Offer is a powerful and revolutionary way for consumers to control the purchasing process like never before. </div>
  <p class="msg_head"> 2.  What does 'Accepted Offers' mean?</p>
  <div class="msg_body"> A Seller on Infinite Buyer has the opportunity to respond to all relevant offers by Accepting the terms and price that were set by the Buyer Offer without any changes. The buyer may elect to complete or decline any or all Accepted Offers by Sellers.</div>
  <p class="msg_head"> 3.  What does 'Counter Offer' mean?</p>
  <div class="msg_body"> A Seller on Infinite Buyer has the opportunity to respond to all relevant offers by making a Counter Offer, in which the seller can change the terms or price to see if the buyer will accept the new terms and price. There is only a single round of counter offer. Buyer may complete or decline any or all Counter Offers.</div>
  <p class="msg_head"> 4.  What are 'Declined Offers'?</p>
  <div class="msg_body"> A Seller may choose to not reply to a Buyer Offer at all by simply declining the offer, at which time the Buyer Offer is removed from the Seller’s current offers tab and moved to the declined offers tab. </div>
  <p class="msg_head"> 5. What is a 'Rave'?</p>
  <div class="msg_body"> A Rave is a testimonial or comment about a product or service that a Buyer purchased through Infinite Buyer. It can also be any testimonial or comment about Infinite Buyer itself and how our service has helped buyers or sellers. </div>
  <p class="msg_head"> 6.  What is 'BuyerTalk'?</p>
  <div class="msg_body"> Buyer Talk is a forum where Buyers can discuss products or services that they are considering purchasing or have purchased.</div>
  <p class="msg_head"> 7.  How much does Infinite Buyer cost to use?</p>
  <div class="msg_body"> <ul> <li>For buyers, Infinite Buyer is completely FREE to register and use. </li>
      <li>For sellers, there is NO charge to register, NO charge to view, accept, or counter Buyer Offers. The only fee for sellers is at the time of an actual transaction where Infinite Buyer gets 6% on most items, less on high priced items like cars. Refer to the Terms & Conditions for latest fee structure.</li></ul></div>
  <p class="msg_head">8. Do I as the buyer determine the price for the item?</p>
  <div class="msg_body">Yes, this is how Infinite Buyer is so different and revolutionary! You, the Buyer, are in charge of determining the price you are willing to pay, not the full retail price a seller wants to sell the item for.</div>
  <p class="msg_head">9. How do I determine the price for an item?</p>
  <div class="msg_body"><ul><li>This is the price you are willing to pay if the transaction were to be completed with a seller who could fulfill your request satisfactorily.</li>
      <li>Try to think about it from the seller side; “What is the lowest price a seller would be willing to sell it for?'</li>
      <li>By the way, a ‘Low-ball’ offer has a high chance of being unfulfilled, as well as negatively affecting your ‘Lifetime Buyer Rating’.</li></ul></div>
  <p class="msg_head">10. How is Infinite Buyer different than Amazon?</p>
  <div class="msg_body"><ul><li>Amazon is a retail online shopping site. Infinite Buyer is a LESS than retail online shopping site.</li>
      <li>Amazon determines which products are available. On Infinite Buyer, BUYERS determines which products and services are available.</li>
      <li>Amazon lists products at a fixed price. On Infinite Buyer, BUYERS determine the ‘Offer’ price.</li></ul></div>
  <p class="msg_head">11. How is Infinite Buyer different than EBay?</p>
  <div class="msg_body">EBay is a “forward auction” style e-commerce website. Infinite Buyer is not an auction style model at all.</div>
  <p class="msg_head">12. How is Infinite Buyer different than Priceline?</p>
  <div class="msg_body"><ul><li>Priceline is a ‘Blind Offer’ style online shopping site for travel related services only. As a shopper, you will not know the exact hotel you want until after you have paid for it. And for flights you will not know the exact time of flight until after you have purchase it. </li>
      <li>On Infinite Buyer, BUYERS determine the exact specifications of the service or product they want before they buy it, so everything is known at all times to both buyers and sellers. </li></ul></div>
  <p class="msg_head"> 13. How many sellers will see my Buyer Offer?</p>
  <div class="msg_body">This will vary according to how many sellers have registered to see items belonging to certain categories or that contain certain keywords.</div>
  <p class="msg_head"> 14. Why should BUYERS use Infinite Buyer?</p>
  <div class="msg_body"> <ul><li>For Buyers, Infinite Buyer is simply the most effective way to buy online. When YOU are in control of the transaction, you gain many advantages when purchasing through Infinite Buyer:</li>
      <li>Buy What You Want. Ever go to a store and they are “Out of Stock” of the item you want? No more! YOU decide the inventory, and let sellers in the marketplace self-identify who has the product. </li>
      <li>Buy When You Want. Need a birthday present, but there is no sale price at the time you want to buy it? No more! YOU decide when the sale is, and let sellers participate in YOUR sale timeframe. </li>
      <li>Buy at The Price You Want. Have you ever spent hours driving around town shopping for the best price? No more! YOU decide the price you want to pay for everything you buy. </li>
      <li>Free to Join. As a buyer, there are no registration fees, no membership fees, no offer fees, and no transaction fees.</li></ul></div>
  <p class="msg_head"> 15. Why should SELLERS use Infinite Buyer?</p>
  <div class="msg_body"><ul> <li>For Sellers, Infinite Buyer is the most effective way to sell online. When you participate in our community of Ready-To-Buy buyers, you gain many advantages as a seller:</li>
      <li>Faster Revenue. Don’t wait for an auction to finish in 2 weeks, don’t wait for traffic to develop on your websites, don’t wait for the decision-approval-sales cycle. Get in front of Ready-to-Buy buyers and select the deals you want to participate in. Need to move your inventory today – accept a lower offer. Need more margin tomorrow, then only accept higher offers, it’s your choice. </li>
      <li> Fulfill instead of 'Sell'. Not a natural born sales person? Hate negotiating? Don’t bother with all that hard work…Infinite Buyer is the platform that takes care of the negotiating for you. You become a fulfillment operation by simply accepting offers online. </li>
      <li>Reduce Costs. Why spend so much money figuring out how to generate traffic, visitors and leads only to have 1% convert to a sale? Why not let the buyers come to you when they are ready to buy – near 100% conversion to a sale.</li>
      <li>Free to Join. As a Seller, there are no registration fees, no listing fees, and no membership fees. The only fee you pay is a percentage of the sale at the time you make a sale! Please see How It Works for Sellers for current fee structure.</li></ul></div>
  <p class="msg_head">16. Who are the sellers?</p>
  <div class="msg_body">Our registered sellers are EBay sellers, existing local merchants, store owners, restaurant owners, consultants, contractors, or service providers. They are typically existing businesses who sell products and services. Very few of our sellers are individuals without a business</div>
</div>

<script type="text/javascript">
  $(document).ready(function()
  {
    //hide the all of the element with class msg_body
    $(".msg_body").hide();
    //toggle the componenet with class msg_body
    $(".msg_head").click(function()
    {
      $(this).next(".msg_body").slideToggle(600);
    });
  });
</script>