<h1 style="margin-left:10px;">How to Register</h1>
<ol>
  <li>Click on the "Seller" link in the upper right hand corner of the web page</li>
  <li>Enter your personal information</li>
  <li>Click on the 'Edit Categories' button</li>
  <li>Check the categories and subcategories that correspond to the products and services you can sell</li>
  <li>Enter 'Included Keywords' such as brand names or other product types that do not appear in the category list that correspond to the products and services you can sell (example: Dell)</li>
  <li>Enter 'Excluded Keywords' for products or services that you do not sell or do not want to receive offers for (example: monitors)</li>
  <li>Click the 'Save keywords' link</li>
  <li>Click the 'Submit' button </li>
</ol>
<h1 style="margin-left:10px;">How to sell your product or service</h1>
<ol>
  <li>Check your email or MyOffers dashboard to see which new offers have matched your seller categories and keywords</li>
  <li>Review the offers in detai</li>
  <li>Accept, Counter, or Decline each offer
  <li>Accept simply means you are willing to sell your product or service at the buyer's price and terms.</li>
  <li>Counter means seller wants to change any combination of the price, description, service details, timing, or shipping details. This can only happen one time per buyer offer. </li>
  <li>Decline simply means the seller does not want to participate in the buyer offer at all.</li></li>
</ol>