<!-- Content Starts Here -->
<div id="ib-content-wrapper">
  <div class="ib-content">
    <div class="ib-content-title">Company Info</div>
    <div class="ib-policy">
      <h1>Infinite Buyer is the world’s first C2B Social-Commerce platform that transforms the way we shop online.</h1>
      <div class="ib-logo_ci"><a href="#"><img src="/assets/ib_content_left_icon.png" alt="infinite buyer logo" title="infinite buyer logo" /></a></div>
      <p class="left">Infinite Buyer is a revolutionary new model because we allow online shoppers to start their shopping process by making a ‘Buyer Offer’ for any product at the price they are ‘willing to pay’ for that item. Sellers have the ability to ‘Accept’, or ‘Counter’ the Buyer Offer one time in order to compete for the sale. Then the buyer can then select which seller they want to buy the item from and complete the transaction online. That’s it - it’s that easy!</p>

      <p class="left">By reversing who begins the transaction, by eliminating fixed retail pricing, and by allowing the negotiation to happen immediately online, we empower and benefit both <a href="http://<%= configatron.site_address %>/faqs">buyers and sellers</a>.  </p>

      <p class="left">This is such a simple concept you will wonder why it hasn’t been done before, yet we believe it will forever change the way people shop online.</p>

      <p  class="left">Infinite Buyer is completely free for buyers to use. For sellers, it is free to register, accept, and counter offers, with no listing fees and zero upfront costs; sellers only pay a small transaction fee at the time of a completed sale transaction.</p>

      <p class="left">Infinite Buyer is based in beautiful Colorado in the Denver metro area. </p>
    </div>
  </div>
</div>
<!-- Contents Ends Here -->