<div class="pop-up">
  <h1>Examples of how to fill in the 'I want to buy' field:</h1>

  <p>If you know you want a specific camera, then fill in this field as specifically as possible so that the sellers
    will more likely respond with your identified item:</p>
  <ul>
    <li>Canon PowerShot ELPH 300 HS 12 MP CMOS Digital Camera with Full 1080p HD</li>
  </ul>
  <p>Or, if you do not have a specific camera in mind, and are open to some suggestions, then fill in the field with
    more general specifications:</p>
  <ul>
    <li>Digital Camera 10 MP or more and at least 4x zoom</li>
  </ul>
  <p>Or, if you just want ANY digital camera, you can simply specify:</p>
  <ul>
    <li>Digital Camera</li>
  </ul>
  <h1>Price field:</h1>

  <p>Do NOT 'Low Ball' the price: This is a real market with real business owners who are the sellers, which means that
    they will not usually sell their products at a big loss. Thus, low ball offers below what they buy the item for
    (such as $10 for an iPad) will not get any responses. In fact, all your offers and buying behavior makes up your
    'Buyer Rating', so unreasonable offers that do not attract seller responses will in effect only negatively affect
    YOUR Buyer Rating. So please be responsible and respectful of other businesses and consumers in our community. Thank
    You.</p>

  <p>Make a 'reasonable' offer: A reasonable offer is one in which will likely attract sellers to respond and complete
    the deal so they are making some acceptable level of profit on the deal. If there is no profit in the deal for them,
    there is no motivation for them to sell it to you because they just have to wait for the next reasonable Buyer Offer
    and sell their item for some acceptable level of profit.</p>
</div>
