<!-- Content Starts Here -->
<div id="ib-content-wrapper">
  <div class="ib-content">
    <div class="ib-content-title">How it Works - For Sellers</div>
    <div class="ib-policy">
      <%= render :partial => 'seller' %>
    </div>
  </div>
</div>
<!-- Contents Ends Here -->
