<!-- Content Starts Here -->
<div id="ib-content-wrapper">
  <div class="ib-content">
    <div class="ib-content-title">How it Works</div>

    <%= render :partial => 'how_it_works_tab' %>

    <div class="ib-policy tab-content">
      <%= render :partial => 'buyer'  %>
    </div>

  </div>
</div>
<!-- Content Ends Here -->