<!-- Content Starts Here -->
<div id="ib-content-wrapper">
  <div class="ib-content">
    <div class="ib-content-title">How it Works - For Buyers</div>
    <div class="ib-policy">
      <%= render :partial => 'buyer' %>
    </div>
  </div>
</div>
<!-- Contents Ends Here -->
