<!-- Content Starts Here -->
<div id="ib-content-wrapper">
  <div class="ib-content">
    <div class="ib-content-title" style="padding-bottom:15px;">Privacy Policy</div>
    <div class="ib-policy">
      <h1>Introduction</h1>
      <p>Welcome to Infinite Buyer, a social e-commerce site emphasizing the free market!</p>
      <p>The following describes the Terms and Conditions of Use on which Infinite Buyer allows individual and businesses to access the full range of services available on Infinite Buyer.</p>
      <p>This User Agreement is in effect as of June 1, 2012.</p>
      <h1>What information does Infinite Buyer collect?</h1>
      <p> Infinite Buyer collects the following information from you when you register:</p>
      <ul>
        <li>First and Last Name</li>
        <li>Mailing Address</li>
        <li>Telephone Number</li>
        <li>Email address </li>
        <li>Zip Code</li>
      </ul>
      <p>Infinite Buyer may collect information about the services that you use, how you use these services and when you use these services.  When you use the Infinite Buyer platform, Infinite Buyer may automatically collect and store certain information in server logs.  This information may include:</p>
      <ul>
        <li>Details of offers extended by registered 'buyers'</li>
        <li>details of acceptances, counter offers, and/or ignored offers by registered 'sellers'</li>
        <li>details of fulfilled transactions by both registered 'buyers' and registered 'sellers' </li>
      </ul>
      <h1>What does Infinite Buyer use your information for?</h1>
      <p>Any of the information you provide may be used in the following ways:</p>
      <ul><li>Personalize your experience <br />- Your information helps Infinite Buyer to better respond to your individual needs</li>
        <li>To improve the Infinite Buyer platform<br /> - Infinite Buyer will continually strive to improve our platform (user interface, website and database) based on the information and feedback &nbsp;&nbsp;&nbsp;from you </li>
        <li>To fulfill transactions<br /> - Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other 3rd party for any reason &nbsp;&nbsp;&nbsp;&nbsp;whatsoever, without your consent, other than for the express purpose of delivering the purchased product and/or service requested</li>
        <li>To send periodic emails <br /> - The email address you provide for transaction processing, will only be used to provide you with information and updates pertaining to your &nbsp;&nbsp;&nbsp;offers, acceptances and counter offers </li>
        <li>To connect you with local service providers<br /> - In the event that you are wanting a service to be fulfilled, Infinite Buyer will use your mailing address and zip code to identify local service&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;providers</li></ul>
      <h1>How does Infinite Buyer protect your information?</h1>
      <p> Infinite Buyer implements a variety of security measures to maintain the safety of your personal information when you make an offer, respond to an acceptance and/or counter offer, and fulfill an acceptance and/or counter offer, or access your personal information.</p>
      <h1> Does Infinite Buyer use “cookies”?</h1>
      <p> Infinite Buyer uses “cookies” to customize and enhance your Infinite Buyer experience.</p>
      <h1> Does Infinite Buyer disclose any information to 3rd parties?</h1>
      <p> Infinite Buyer does not sell, trade, or otherwise transfer to 3rd parties your personally identifiable information.  This does not include trusted 3rd parties who assist with Infinite Buyer in operating our platform, conducting our business, or servicing you, so long as those 3rd parties agree to keep this information confidential.  Infinite Buyer may also release your information when Infinite Buyer believes release is appropriate to comply with the law enforce our platform policies, or protect Infinite Buyer and others rights, property, or safety.</p>
      <h1>California Online Privacy Protection Act Compliance</h1>
      <p>Because we value your privacy, Infinite Buyer has taken the necessary precautions to be in compliance with the California Online Privacy Protection Act.  Therefore, Infinite Buyer will not distribute your personal information to outside parties without your consent.</p>
      <p>As part of the California Online Privacy Protection Act, all users of the Infinite Buyer platform may make any changes to their personal information at anytime by logging into their control panel and going to the 'Edit Profile' page.</p>
      <h1>Childrens Online Privacy Protection Act Compliance</h1>
      <p> Infinite Buyer is in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age.  Our platform and services are all directed to people who are at least 13 years old or older.</p>
      <h1>Online Privacy Policy</h1>
      <p> The Infinite Buyer online privacy policy applies only to information collected through the Infinite Buyer platform and not to information collected offline.</p>
      <h1>Terms and Conditions of Use</h1>
      <p>Please also visit our Terms and Conditions of Use section establishing the use, disclaimers and limitations of liability governing the use of our platform, at <a href="http://www.infinitebuyer.com.">http://www.infinitebuyer.com.</a>  </p>
      <h1>Your consent</h1>
      <p> By using the Infinite Buyer platform, you consent to the Infinite Buyer Privacy Policy.</p>
      <h1>Changes to our Privacy Policy</h1>
      <p>If Infinite Buyer decides to amend and/or change our Privacy Policy, Infinite Buyer will post those changes on this page, send an email notifying you of any changes, and/or update the Privacy Policy modification date below.</p>
      <p>This Privacy Policy was last modified on May 31, 2012.</p>
      <h1>Contacting Infinite Buyer</h1>
      <p>If there are any questions regarding the Infinite Buyer Privacy Policy, you may contact Infinite Buyer using the information below.</p>
    </div>
    <div class="ib-policy">
      <p><a href="http://www.infinitebuyer.com"> www.infinitebuyer.com</a></p>
      <p><a href="http://support@infinitebuyer.com">support@infinitebuyer.com </a></p>
      <p>303-900-2298</p>
    </div>
  </div>
</div>
<!-- Contents Ends Here -->