<!-- Content Starts Here -->
<div id="ib-content-wrapper">
  <div class="ib-content">
    <div class="ib-content-title" style="margin-bottom: 20px; margin-left: 181px;">Raves</div>
    <div class="facebook-comments">
      <div class="fb-comments" data-href="<%= @site_address %>" data-num-posts="2" data-width="600"></div>
    </div>
  </div>
</div>
<!-- Content Ends Here -->