/* shadow */

.divider
{ 
border-bottom: 1px solid #CCCCCC;
padding:40px; 
}

.box {
	background:#FFF;
	margin:5px auto 145px auto;
	width:890px;
	background-color:#FFFFFF; 
	border-radius:18px; 
	padding:10px; 
	border: 3px solid #999999; 
}

.effect8
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.ib-continue1
{ background:url(../images/continue-btn.png) top left no-repeat; text-indent:-99999px; width:135px; height:50px; display:inline-block; cursor:pointer; text-align:right; float:right;}

.continue {width:124px; float:right; padding:20px;}

.p_dark {
    color: #144e8d;
	text-decoration:none;
	font-weight:bold;
}
/* shadow */