<div id="ib-nav-wrapper">
  <div class="ib-nav-content">
    <ul class="ib-navigation">
      <li>
        <%= link_to '', get_root_url, :class=> "home", :title => "Home" %>
      </li>
      <li>
        <%= link_to '', offers_url, :class => "my-offers", :title => 'My Offers' %>
      </li>
      <li><a class="buyer-talk" title="Buyer Talk" href="https://infinitebuyer.uservoice.com" target="_blank"></a></li>
      <li><a class="raves" title="Raves" href="<%= raves_url %>"></a></li>
      <li><a class="how-it-works" title="How it Works" href="<%= how_it_works_url %>"></a></li>
    </ul>
  </div>
</div>