<div>
  <h1> Introduction</h1>

  <p>Welcome to Infinite Buyer, a social e-commerce site emphasizing the free market!</p>

  <p>The following describes the Terms and Conditions of Use on which Infinite Buyer allows individual and businesses to
    access the full range of services available on Infinite Buyer.</p>

  <p>This User Agreement is in effect as of June 1, 2012.</p>

  <h1>Scope</h1>

  <p>Before you may become a user on Infinite Buyer, you must read and accept all of the terms and conditions of use in,
    and linked to, this User Agreement and the Infinite Buyer Privacy Policy.</p>

  <p>By accepting this User Agreement, you agree that the Infinite Buyer User Agreement and Infinite Buyer Privacy
    Policy will apply whenever you use the Infinite Buyer platform, services, and/or tools that Infinite Buyer makes
    available to interact with the Infinite Buyer platform.</p>

  <h1>Using Infinite Buyer</h1>

  <p>While using the Infinite Buyer platform, you will not</p>
  <ul>
    <li> use our sites, services, and/or tools if you are not able to form legally binding contracts</li>
    <li> are under the age of 18</li>
    <li> upload, distribute or print anything that may be harmful to minors</li>
    <li> are temporarily, or indefinitely suspended from using any Infinite Buyer platform, service or tool</li>
    <li> circumvent or manipulate the Infinite Buyer stated fee structure, the billing process, or other fees owed to
      Infinite Buyer
    </li>
    <li> post false, inaccurate, misleading, defamatory, or libelous content (including personal information)</li>
    <li> transfer your Infinite Buyer account and User Name to another party without the written consent of Infinite
      Buyer
    </li>
    <li> distribute viruses or any other technologies that may damage Infinite Buyer, or the interests or property of
      Infinite Buyer users
    </li>
    <li> fail to deliver payment for items or services purchased by you</li>
    <li> distribute or post spam, unsolicited, or bulk electronic communications</li>
    <li> distribute viruses or any other technologies that may harm Infinite Buyer, or Infinite Buyer registered users
    </li>
    <li> use Infinite Buyer to generate unsolicited email advertisements or spam</li>
    <li> attempt to derive the source code of the software (including the tools, methods, processes, and infrastructure)
      of the Infinite Buyer platform
    </li>
  </ul>
  <h1> Infinite Buyer Registration and Profile</h1>

  <p> You will need to register with Infinite Buyer to begin using the Infinite Buyer platform. Your registration
    requires that you provide your legal name and email address. You agree to provide only accurate, complete
    registration information and that you will keep that information current.</p>

  <p> Once you register with Infinite Buyer, you will be provided a unique account number, and you will be asked to
    provide a unique 'user name' for your account. You are solely responsible for any usage of the Infinite Buyer
    platform by persons using your unique 'user name'. If you feel that your account has been violated and being used
    without your authorization, please report this violation, immediately.</p>

  <p> If you choose to either extend an offer, and/or respond to an offer, you will be asked to provide your eBay PayPal
    account information, in order to complete a transaction.</p>

  <h1> Extending an “offer” on Infinite Buyer</h1>

  <p> Once you have registered to use Infinite Buyer, you are allowed to extend an offer, which includes a description
    of the item, or service, you wish to purchase, plus the price you are willing to pay for the item, or service.</p>

  <p> If you do not otherwise specify a time frame for the offer, it will default to a maximum of seven days. </p>

  <p> You have the ability to 'cancel' an offer at any time.</p>

  <p> Once you have submitted an offer, your offer will be extended to all registered Infinite Buyer users who have
    registered to fulfill or provide the item(s), and or service(s), you have requested. If additional Infinite Buyer
    users register while you have an active offer open, your offer will be submitted to these new, registered Infinite
    Buyer users.</p>

  <p> You have the right to review all responses from Infinite Buyer users who fulfill and/or provide the item(s), or
    service(s) you have requested.</p>

  <p> You are under no obligation to purchase an item, or service for which you had submitted an offer, however if you
    do not purchase an item, or service you have requested, it may have a negative impact on your 'buyer rating'.</p>

  <h1> Infinite Buyer 'Buyer Rating'</h1>

  <p> Infinite Buyer may collect information about the services that you use, how you use these services and when you
    use these services. When you use the Infinite Buyer platform, Infinite Buyer may automatically collect and store
    certain information in server logs. This information may include:</p>
  <ul>
    <li>details of offers extended by registered 'buyers'</li>
    <li>details of acceptances, counter offers, and/or ignored offers by registered 'sellers'</li>
    <li>details of fulfilled transactions by both registered 'buyers' and registered 'sellers'</li>
  </ul>
  <p>It is the goal of Infinite Buyer to connect registered users, whether they are buying, selling and/or fulfilling,
    in a 'free market' venue, to complete a transaction. Registered users who submit 'reasonable' offers and 'buy'
    either 'accept(ed)' or 'counter(ed)' offers will achieve a high 'buyer rating'.</p>

  <h1> Responding to an Infinite Buyer 'offer'</h1>

  <p> Registered Infinite Buyer users who can fulfill and/or provide the item(s), and or service(s) you have requested
    have the right to (1) accept; (2) counter, or (3) ignore your offer.</p>

  <p> Registered Infinite Buyer users who have responded to your 'offer', with either an 'accept' and/or 'counter” have
    the right to state a defined time frame for their response, which may be shorter in duration than the time frame of
    your offer. </p>

  <h1> Infinite Buyer Protection</h1>

  <p> Registered users of Infinite Buyer that have submitted and/or responded to “offers” share the responsibility for
    completing a transaction. Infinite Buyer acts solely as a “broker” in a transaction. (Please see the “Limitation of
    Liability” section.)</p>

  <p> Registered users of Infinite Buyer that either fulfill a service(s) or provide an item(s) must have their own
    “reimbursement method”, should they fail to fulfill a purchased service, or provide an item which is damaged or
    otherwise unsuitable.</p>

  <p> Without limiting other remedies, Infinite Buyer may limit, suspend or terminate registered Infinite Buyer user
    accounts, prohibiting access to the Infinite Buyer platform and associated services, if Infinite Buyer believes a
    registered user is violating the intended usage of the Infinite Buyer platform. Additionally, Infinite Buyer holds
    the discretion to temporarily suspend, or terminate the accounts for repeat offenders.</p>

  <h1> Infinite Buyer Fees</h1>

  <p> Registering and accessing the Infinite Buyer platform is free.</p>

  <p> Infinite Buyer does charge a “transaction fee” totaling six percent (6.0%) of the purchased item(s) and/or
    service(s). This “transaction fee” is collected in U.S. dollars from the seller.</p>

  <h1> Limitation of Liability</h1>

  <p> You will not hold Infinite Buyer responsible for other registered user’s actions, or inactions related to a
    transaction. Infinite Buyer is not involved in the actual transaction between buyer and seller, the Infinite Buyer
    platform simply brings the two parties together.</p>

  <p> Infinite Buyer does not transfer legal ownership of items between the seller and buyer. Uniform Commercial Code
    2-401, “Passing of Title” shall apply to the transfer of ownership between the seller and the buyer, unless both
    parties agree otherwise.</p>

  <p> Unless otherwise explicitly agreed, title passes to the buyer at the time and place at which the seller completes
    his performance with reference to the physical delivery of the item(s), despite any reservation of a security
    interest and even through a document of title is to be delivered at a different time or place; and in particular and
    despite any reservation of a security interest by the bill of lading</p>
  <ul>
    <li>if the contract requires or authorizes the seller to send the goods to the buyer but does not require the seller
      to deliver the item(s) at &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;destination, title passes to the buyer at the time
      and place of shipment, but
    </li>
    <li>if the contract requires delivery at destination, title passes on tender there</li>
  </ul>
  <p>A rejection or other refusal by the buyer to receive or retain goods, whether or not justified, or a justified
    revocation revests title to the goods in the seller. Such revesting occurs by operation of law and is not a
    'sale'.</p>

  <p> Infinite Buyer is not liable for any loss of money, goodwill or reputation, or any special, indirect or
    consequential damages arising, directly or indirectly, out of your use of the Infinite Buyer platform.</p>

  <h1> Prohibited and Restricted Items</h1>

  <p> The following items and/or services cannot be transacted using the Infinite Buyer platform.</p>
  <ul>
    <li>Alcohol</li>
    <li>Animals and wildlife products</li>
    <li>Counterfeit Currency and Stamps</li>
    <li>Drugs and Drug Paraphenalia</li>
    <li>Embargoed goods</li>
    <li>Firearms, weapons and knives</li>
    <li>Offensive Material</li>
    <li>Pesticides</li>
    <li>Prohibited Services</li>
    <li>Stolen Property</li>
    <li>Surveillance Equipment</li>
    <li>Tobacco</li>
  </ul>
  <h1> Changes to our User Agreement</h1>

  <p> If Infinite Buyer decides to amend and/or change our Privacy Policy, Infinite Buyer will post those changes on
    this page, send an email notifying you of any changes, and/or update the Privacy Policy modification date below.</p>

  <p> This Privacy Policy was last modified on May 31, 2012.</p>

  <h1> Contacting Infinite Buyer</h1>

  <p> If there are any questions regarding the Infinite Buyer Privacy Policy, you may contact Infinite Buyer using the
    information below.</p>
</div>
<div>
  <p>
    <a href="www.infinitebuyer.com"> www.infinitebuyer.com</a>
  </p>

  <p>
    <a href="InfiniteBuyer@infinitebuyer.com">InfiniteBuyer@infinitebuyer.com </a>
  </p>

  <p> (303) 663-7839 Main</p>
</div>