<ul>
  <li>
    <%= link_to 'Buyer', edit_buyer_url, :class => "active", :id => "myAccountBuyerLink", :remote => true %>
  </li>
  <li>
    <%= link_to 'Seller', edit_seller_url, :class => "", :id => "seller_account", :remote => true %>
  </li>
</ul>





